.choise-pizzas {
  margin-top: 112px;

  &__title {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 52px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 55px;
  }

  &-types {
    margin-bottom: 40px;
  }
}

.pizzas-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(304px, 1fr));
  justify-items: center;
  gap: 32px;
}
