@import '../variables';

.footer {
  &__title {
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 52px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 13px;

    @media (max-width: $desctopScreens) {
      font-size: 40px;
      line-height: 1.5;
    }

    @media (max-width: $mobileScreens) {
      font-size: 28px;
      line-height: 1.25;
      margin-bottom: 4px;
    }
  }

  &__subtitle {
    color: $gray;
    text-align: center;
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 24px;
    font-weight: 800;
    line-height: 1.25;
    margin-bottom: 46px;

    @media (max-width: $desctopScreens) {
      font-size: 20px;
      font-weight: 900;
      line-height: 1.5;
    }

    @media (max-width: $mobileScreens) {
      font-size: 16px;
      margin-bottom: 20px;
    }
  }

  &__logo {
    @media (max-width: $desctopScreens) {
      width: 89.888px;
      height: 41.47px;
    }

    @media (max-width: $mobileScreens) {
      width: 79.022px;
      height: 36.457px;
      margin-bottom: 25px;
    }
  }

  &-bottom {
    padding: 32px 0 34px;
    background-color: $black;

    &-inner {
      display: flex;
      align-items: center;
      justify-content: space-between;

      @media (max-width: $mobileScreens) {
        flex-direction: column;
        justify-content: center;
      }
    }

    &-left {
      display: flex;
      align-items: center;
      gap: 100px;

      @media (max-width: $desctopScreens) {
        gap: 80px;
      }
    }

    &-contact {
      &__number {
        color: $white;
        font-feature-settings: 'clig' off, 'liga' off;
        font-size: 24px;
        font-weight: 800;
        line-height: 1.25;
        margin-bottom: 6px;
        text-transform: uppercase;

        @media (max-width: $desctopScreens) {
          font-weight: 900;
          letter-spacing: 1.333px;
        }
      }

      &__time {
        color: $white;
        font-feature-settings: 'clig' off, 'liga' off;
        font-family: Roboto;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.5;
      }
    }

    &-right {
      color: $white;
      font-feature-settings: 'clig' off, 'liga' off;
      font-family: Roboto;
      font-size: 12px;
      font-weight: 400;
      line-height: 1.5;

      @media (max-width: $mobileScreens) {
        margin-top: 10px;
      }
    }

    @media (max-width: $mobileScreens) {
      padding: 24px 0 40px;
    }
  }

  @media (max-width: $mobileScreens) {
    margin-top: 60px;
  }
}
