@import '../variables';

.menu-plug {
  height: 176px;

  @media (max-width: $desctopScreens) {
    height: 170px;
  }

  @media (max-width: $mobileScreens) {
    height: 83px;
  }
}

.header {
  position: relative;
  margin-bottom: 270px;

  &-background-image {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    &__img {
      width: 100%;
    }

    @media (max-width: $desctopScreens) {
      margin-left: auto;
      position: absolute;
      top: 133px;
    }

    @media (max-width: $mobileScreens) {
      position: static;
      margin-left: 0;
      width: 100%;
    }
  }

  &-inner {
    margin-top: 157px;

    @media (max-width: $desctopScreens) {
      margin-top: 31px;
    }

    @media (max-width: $mobileScreens) {
      margin-top: 20px;
      // display: flex;
      // flex-direction: column;
      // align-items: center;
      // justify-content: center;
    }
  }

  &__title {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 12px;

    @media (max-width: $desctopScreens) {
      font-size: 52px;
    }

    @media (max-width: $mobileScreens) {
      font-size: 40px;
      text-align: center;
    }
  }

  &__text {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;

    @media (max-width: $desctopScreens) {
      font-size: 18px;
    }

    @media (max-width: $mobileScreens) {
      font-size: 18px;
      text-align: center;
      font-size: 16px;

      br {
        display: none;
      }
    }
  }

  &__btn {
    padding: 18px 70px;
    white-space: nowrap;

    @media (max-width: $mobileScreens) {
      display: block;
      margin: 0 auto;
    }
  }

  @media (max-width: $desctopScreens) {
    margin-bottom: 110px;
  }

  @media (max-width: $mobileScreens) {
    margin-bottom: 60px;
    width: 100%;
  }
}
