@import '../variables';

.menu-plug {
  height: 176px;

  @media (max-width: $desctopScreens) {
    height: 170px;
  }
}

.header {
  position: relative;
  margin-bottom: 270px;

  &-background-image {
    z-index: -1;
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;

    &__img {
      width: 100%;
    }

    @media (max-width: $desctopScreens) {
      margin-left: auto;
      position: absolute;
      top: 133px;
    }
  }

  &-inner {
    margin-top: 157px;

    @media (max-width: $desctopScreens) {
      margin-top: 31px;
    }
  }

  &__title {
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 72px;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 1px;
    margin-bottom: 12px;

    @media (max-width: $desctopScreens) {
      font-size: 52px;
    }
  }

  &__text {
    font-feature-settings: 'clig' off, 'liga' off;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.5;
    margin-bottom: 32px;

    @media (max-width: $desctopScreens) {
      font-size: 18px;
    }
  }

  &__btn {
    padding: 18px 70px;
  }
}
