@import '../variables';

.menu {
  width: 100%;
  padding: 46px 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  &-active {
    background-color: $white;
    box-shadow: 0px 2px 5px 0px rgba(165, 169, 176, 0.3);
    padding: 9px 0;
  }

  &-logo {
    width: 68px;
    height: 31px;
  }

  &-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-icon {
    height: 32px;
    width: 32px;

    @media (max-width: $desctopScreens) {
      width: 40px;
      height: 40px;
    }
  }

  &-phone {
    display: flex;

    &-inner {
      margin-left: 12px;
    }

    &__number {
      font-size: 24px;
      font-weight: 900;
      letter-spacing: 1.333px;
      text-transform: uppercase;

      &--small {
        font-size: 18px;
        font-weight: 700;
      }
    }

    &__time {
      color: $gray;
      font-feature-settings: 'clig' off, 'liga' off;

      font-family: Roboto;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &-cart {
    display: flex;

    &-icon {
      position: relative;

      &__counter {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: -50%;
        right: -50%;
        transform: translate(-50%, 50%);
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $red;
        color: #fff;
        text-align: center;
        font-family: Roboto;
        font-size: 11px;
        font-weight: 500;
        line-height: 5;
      }
    }

    &-inner {
      margin-left: 12px;
    }

    &__title {
      font-size: 18px;
      font-weight: 900;
      letter-spacing: 1px;
      text-transform: uppercase;

      &--small {
        font-size: 14px;
        font-weight: 700;
      }
    }

    &__subtitle {
      color: $gray;
      font-feature-settings: 'clig' off, 'liga' off;

      font-family: Roboto;
      font-size: 12px;
      line-height: 1.5;
    }
  }

  &-lang {
    width: 48px;
    height: 48px;
    background-color: $blackGray;
    border-radius: 50%;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 1px;
    text-transform: uppercase;
    line-height: 2.7;

    &--small {
      opacity: 0;
      width: 42px;
      height: 42px;
    }

    &-tablet {
      &--lang {
        width: 48px;
        height: 48px;
      }
    }
  }

  @media (max-width: $desctopScreens) {
    background-color: $white;
    padding: 20px 0;
  }
}

.tabletScreen {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &-item {
    display: flex;
    align-items: center;
    gap: 32px;

    &-wrap {
      display: flex;
      align-items: center;
      gap: 70px;
    }
  }
}

.menu-logo-tablet {
  width: 130px;
  height: 60px;
}
